.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.header {
  flex: 1 0 100%;
  text-align: center;
}

button {
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: rgb(100, 200, 300);
  transition: background color 0.3s;
  border: 0;
  font-size: 1.1em;
}
